@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
form { 
  max-width: 600px; 
  text-align: center; 
  margin: 20px auto; 
} 
input, textarea { 
  border: 0; 
  outline: 0; 
  padding: 1em; 
  border-radius: 8px; 
  display: block; 
  width: 100%; 
  margin-top: 1em; 
  resize: none; 
} 
#input-submit { 
  cursor: pointer; 
} 
#input-submit:hover { 
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2); 
} 
textarea { 
  height: 126px;
} 
.half { 
  float: left;
  width: 48%; 
  margin-bottom: 1em; 
} 
.right { 
  width: 50%; 
  background-color: white;
  color: black
} 
.left {
  margin-right: 2%; 
  background-color: white;
  color: black
} 
  @media (max-width: 480px) 
  { .half { width: 100%; float: none; margin-bottom: 0; } 
} 
.cf:before, .cf:after { 
  content: ' '; 
  display: table; 
  
} 
.cf:after { clear: both; }